# VSCode
.vscode/

# Mac system files
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log
/app.log

# Runtime data
/control_state.json
/dialog_state.json


# Environment
.env
.env.local

# Dependencies
node_modules/
